/*
Colores
#031617
#032f30
#0a7075
#0c969c
#6ba3be
#274d60
*/
h1,p,a {
    font-size: calc(1vw + 1em);
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #ffff;
}
body{
    display: grid;
 
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100vh;
    color: #ffff;

}

footer{
    background-color: black;
}

#Pagp{
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: 2% 98%;
}

#Menu{
    display: grid;
    position: relative;
    position: relative;
    align-items: center;
    justify-items: center;

    background-color: #0a6b70;

    
}
#divCuerpo{
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
    height: 100%;
}
#divE{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: .5fr 1fr;
    width: 100%;
    height: 100%;;
}
#logE{
    background-image: url(../Azztech.png);
    background-size: cover;
    width: 100px;
    height: 100px;
}
#nombreE{}

#divOps{
    width: 100%;
    height: 20%;
}
/*
    divU y divR se pueden hacer class para ahorrar lineas, pero 
    ya me dio hueva w  
*/
#divU{
    transition: 1s;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 20% 84%;
    align-items: center;
    justify-items: center;
    border-bottom:solid #0a6b70 2px;
    width: 60%;
}
#divU:hover{
    transition: 1s;
    margin-top: 10px;
    cursor: pointer;
    border-bottom:solid #000000 2px;
    width: 85%;

}
#divR{
    transition: 1s;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 20% 60%;
    align-items: center;
    justify-items: center;
    border-bottom:solid #0a6b70 2px;
    width: 60%;
}
#divR:hover{
    transition: 1s;
    margin-top: 10px;
    cursor: pointer;
    border-bottom:solid #000000 2px;
    width: 90%;
}
.menuExt{
    
    grid-template-columns: 90% 10% ;
    width :1300%;
}
.menuCon{
    
    width :100%;
}
/*
16px 0 1em
*/
#TituloMenu{
    margin: 0;
    cursor: pointer;
    font-size: calc(1vw + .6em);
    letter-spacing: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    writing-mode: vertical-rl;
}

#Logo{
    display: grid;
    align-items: center;
    justify-items: center;   

}
#Logo-img{
    width: 90%;
    height: 90%;
    
}
#Secciones{

}

#Dashboard{
    display: grid;
    grid-template-rows: 10%;
}
#Cabeza{
    display: grid;
    
    background-color: #6ba3be;
    grid-template-columns: 70% 30%;
}
#Titulo{
    font-size: calc(1vw + 1em);
}
#Info{
    display: grid;
    align-items: center;
    justify-items: center;
    
}
#Back{
    display: grid;
    position: relative;
    width: 95%;
    
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-items: center;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #0c969c;
    
}
#divInfo{
    
    display: grid;
    position: absolute;
    justify-items: center;
    align-items: baseline;

    grid-template-rows: .2fr 1fr .5fr;

    top: 12%;
    left: 73%;

    border-radius: 2rem;
    
    
    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border: solid black 2px;

    height: 40%;
    width: 25%;

    padding-top:20px;
   
    
}

#infoT{
    display: grid;
    text-align: center;
    
    color: #031617;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}
#infoC{
    
    width: 100%;
    height: 100%;
    color: #000000;
}
#divOpciones{
    margin-top: 4%;
    margin-left: 10%;
}

.infoOp{
   
    color: #0c969c;
    cursor: pointer;
    text-decoration: none;
}
.infoOp:hover{
    border-bottom:solid #000000 2px;
}

#infoP{
    width: 100%;
    height: 100%;
    color: #0c969c;
    display: grid;
    align-items: center;
    justify-items: center;
}

#infoBtn{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    
    border-radius: 50px;
    padding: 5% 15% 5% 15%;
}

#Foto{
    background-image: url(../arbuz.png);
    background-size: cover;
    width: 3rem;
    height: 3rem;
    background-color: #031617;
    border-radius:  50px;
}
.Texto{
    margin: 10px;
}
#Titulo{
    text-align: center;
}


#Principal{
    display: grid;

    grid-template-rows: 10% 90%;
    background-color: #f1f1f1;
}
#Seccion{
    color: #0c969c;
    
    
    
    
}
#area{
   margin-left: 2.5%;
}
#Contenedor{
    display: grid;
    align-items: center;
    justify-items: center;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}
.contenedores{
    
    width: 90%;
    height: 80%;

    box-shadow:0px 0px 15px 0px #ffffff;
    border-radius: 1rem;
    background-color: #032f30;
}



/*tabla*/

#contenedor {
    margin: 0 auto;
    width: 95%;
    margin-top: 20px;
    padding: 0px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 20px;
    box-shadow: 0 14px 18px rgba(39, 9, 9, 0.1);
}

.estiloT {
    width: 100%;
    border-collapse: collapse;
}

.estiloT th, .estiloT td {
    padding: 10px 15px;
    
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.estiloT thead th {
    border-radius: 20px 20px 0px 0px ;
    background-color: #6ba3be;
    font-weight: bold;
    
}
.estiloT tbody tr{
    
    transition: 1s;
    color: #7f9283;
}
.estiloT tbody tr:hover {
    transition: 1s;
    background-color: #bbb2b248;
    color: black;
}


.infoEmpleado {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoEmpleado img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.estado {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
}

.estado.online {
    background-color: #d4edda;
    color: #155724;
}

.estado.offline {
    background-color: #f8d7da;
    color: #721c24;
}


.barraProceso {
    background-color: #e9ecef;
    border-radius: 5px;
    height: 8px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.proceso {
    height: 100%;
    background-color: #007bff;
    border-radius: 5px;
}


.barraProceso.multi {
    display: flex;
    height: 8px;
}

.progresoVerde {
    background-color: #28a745;
}

.progresoNaranja {
    background-color: #ffc107;
}

.horasJornada {
    font-size: 0.9em;
    color: #555;
}
/*
Formulario
*/
#Registro {
    display: grid;
    
    margin-top: 10px;
    border: #000000 solid 1px;
    grid-template-rows:10% 80% 10%;
    background-color: #ffffff;
    width: 90%;
    margin-left: 10px;
    border-radius: 50px;
}
#formularioC{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#formularioC div{
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Título del formulario */
#Registro h2 {
    text-align: center;
    
    color: #333333;
}

/* Etiquetas de los campos */
#Registro label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

/* Campos de entrada */
#Registro input[type="text"],
#Registro input[type="number"],
#Registro input[type="email"],
#Registro input[type="file"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Efectos de foco en los campos */
#Registro input[type="text"]:focus,
#Registro input[type="number"]:focus,
#Registro input[type="email"]:focus,
#Registro input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#formularioP{
    display: grid;
    align-items: center;
    justify-items: center;
}
/* Botón de envío */
#Registro button {
    display: block;
    width: 80%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover para el botón */
#Registro button:hover {
    background-color: #0056b3;
}